<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<login_with_otp>
			<general_configuration>
				<enable/>
				<api_link/>
				<method/>
				<userid/>
				<password/>
				<version/>
				<msg_type/>
			</general_configuration>
		</login_with_otp>
	</default>
</config>
