<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <walletreward>
            <wallet>
                <enable>0</enable>
                <credit_usages>
                    <buy_credit>1</buy_credit>
                    <credit_with_coupons>1</credit_with_coupons>
                </credit_usages>
                <withdraw>
                    <allow_withdrawal>1</allow_withdrawal>
                    <withdraw_email_sender>general</withdraw_email_sender>
                    <withdraw_email_template>walletreward_wallet_withdraw_withdraw_email_template</withdraw_email_template>
                </withdraw>
                <sendtofriend>
                    <allow_send_credit>1</allow_send_credit>
                    <stf_email_sender>general</stf_email_sender>
                    <sendtofriend_emailtemp>walletreward_wallet_sendtofriend_sendtofriend_emailtemp</sendtofriend_emailtemp>
                    <sendto_unregisterfriend_emailtemp>walletreward_wallet_sendtofriend_sendto_unregisterfriend_emailtemp</sendto_unregisterfriend_emailtemp>
                </sendtofriend>
                <order>
                    <max_credit_per_order>0</max_credit_per_order>
                </order>
                <refund>
                    <refund_credit>0</refund_credit>
                </refund>
            </wallet>
            <reward>
                <enable_reward>0</enable_reward>
                <one_point_cost>1</one_point_cost>
                <earn_reward>
                    <customer_registration>
                        <enable_on_create_account>0</enable_on_create_account>
                        <ca_reward_point>10</ca_reward_point>
                    </customer_registration>
                    <creating_order>
                        <enable_create_order>0</enable_create_order>
                        <earn_type>0</earn_type>
                        <co_reward_point>10</co_reward_point>
                        <reward_message>0</reward_message>
                    </creating_order>
                    <newsletter_subscribers>
                        <enable_newsletter_subscribers>0</enable_newsletter_subscribers>
                        <nl_reward_point>5</nl_reward_point>
                    </newsletter_subscribers>
                    <customer_review>
                        <enable_customer_review>0</enable_customer_review>
                        <cr_reward_point>5</cr_reward_point>
                    </customer_review>
                    <invited_friend_registration>
                        <enable_ifr>0</enable_ifr>
                        <ifr_reward_point>5</ifr_reward_point>
                        <inv_email_sender>general</inv_email_sender>
                        <invitefriendemailtemp>walletreward_reward_earn_reward_invited_friend_registration_invitefriendemailtemp</invitefriendemailtemp>
                        <creating_order_by_iv>
                            <enable_ifr>0</enable_ifr>
                            <coiv_earn_type>0</coiv_earn_type>
                            <coif_reward_point>10</coif_reward_point>
                        </creating_order_by_iv>
                    </invited_friend_registration>
                </earn_reward>
            </reward>
            <transaction>
                <sub_email_sender>general</sub_email_sender>
                <transaction_subscribe>walletreward_transaction_transaction_subscribe</transaction_subscribe>
                <unsub_email_sender>support</unsub_email_sender>
                <transaction_unsubscribe>walletreward_transaction_transaction_unsubscribe</transaction_unsubscribe>
            </transaction>
        </walletreward>
    </default>
</config>
