<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="aw_raf_referral_link_checker" instance="Aheadworks\Raf\Observer\ReferralLinkChecker" />
    </event>
</config>
