<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="codverification">
            <group id="smsgatways">
                <field id="twofactorapikey" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>2 Factor API Key</label>
                    <depends><field id="gateway">twofactor</field></depends>
                    <validate>required-entry</validate>
                </field>
                <field id="twofactorendpoint" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>2 Factor API End Point</label>
                    <depends><field id="gateway">twofactor</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>