<!--@subject {{trans 'Your reward expires soon!'}}@-->
{{template config_path="design/email/header_template"}}

<p>{{trans 'Hello, %customer_name' customer_name=$advocateSummary.getCustomerName()}}</p>
<p>
    {{trans 'Your %amount reward earned for inviting friends.'
        amount=$amountFormatted
    }}

    {{depend expiredInDays}}
        {{trans 'Expires in %expired_in_days days, so it\'s time to hurry up!'
            expired_in_days=$expiredInDays
        }}
    {{/depend}}
</p>
<p>
    {{trans 'Click <a href="%store_url">here</a> to spend it on our site and invite more friends!'
        store_url=$storeUrl |raw
    }}
</p>
{{template config_path="design/email/footer_template"}}