<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!--<event name="checkout_submit_all_after">
		<observer name="papa_placeorder_observer_checkout_onepagecontrollersuccessaction_checkout_onepage_controller_success_action" instance="Papa\Placeorder\Observer\Checkout\OnepageControllerSuccessAction"/>
	</event>-->
	
	<event name="sales_order_save_after">
		<observer name="papa_placeorder_observer_checkout_onepagecontrollersuccessaction_checkout_onepage_controller_success_action" instance="Papa\Placeorder\Observer\Checkout\OnepageControllerSuccessAction"/>
	</event>
	
	<event name="sales_order_shipment_save_after">
		<observer name="papa_placeorder_observer_checkout_onepagecontrollersuccessaction_sales_order_shipment_after" instance="Papa\Placeorder\Observer\Checkout\SalesOrderShipmentAfter"/>
	</event>
	
	<event name="sales_order_invoice_pay">
		<observer name="papa_placeorder_observer_checkout_onepagecontrollersuccessaction_sales_order_invoice_pay" instance="Papa\Placeorder\Observer\Checkout\SalesOrderInvoicePay"/>
	</event>
	
	
</config>
