<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Bluedart Order shipment confirmation for #{{var order.getIncrementId()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description"
} @-->
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "%customer_name," customer_name=$name}}</p>
            <p>
                {{trans "Your Shipment Package has been submitted for the order-id#%increment_id" increment_id=$order.increment_id}}
                {{trans "Please find attched pdf for details."}}
            </p>
        </td>
    </tr>
    <tfoot>
        <tr>
            <td>
                <p>{{trans "Thankyou"}}</p>
            </td>
        </tr>
    </tfoot>
</table>
