<ul class="ammenu-items -root" data-bind="foreach: elems">
    <li class="ammenu-item"
        data-bind="event: {
            mouseenter: function() {
                $data.isActive(true);
            },
            mouseleave: function() {
                $data.isActive(false);
            }
        }">
        <!-- ko template: { name: $parent.uiClass.root_templates.link, data: { item: $data, uiClass: $parent.uiClass } } --><!-- /ko -->

        <!-- ko scope: 'index = submenu_wrapper' -->
            <!-- ko template: { name: getTemplate(), data: $parent } --><!-- /ko -->
        <!-- /ko -->
    </li>
</ul>
